snippet //*
	/* * Copyright(C) Shenzhen DAPU Microelectronics Co., Ltd 2016-2020 - All rights reserved
	 */
	/**
	 * @author lifahao, lifahao@dputech.com
	 */


	//=============================================================================
	//
	//! @file
	//! @brief cache code
	//!
	//=============================================================================

	//-----------------------------------------------------------------------------
	//  Include files:
	//-----------------------------------------------------------------------------
	
	//-----------------------------------------------------------------------------
	//  Constants definitions:
	//-----------------------------------------------------------------------------

	//-----------------------------------------------------------------------------
	//  Macros definitions:
	//-----------------------------------------------------------------------------

	//-----------------------------------------------------------------------------
	//  Data type definitions: typedef, struct or class
	//-----------------------------------------------------------------------------

	//-----------------------------------------------------------------------------
	//  Data declaration: Private or Public
	//-----------------------------------------------------------------------------

	//-----------------------------------------------------------------------------
	//  Private function proto-type definitions:
	//-----------------------------------------------------------------------------

	//-----------------------------------------------------------------------------
	//  Data declaration: Private or Public
	//-----------------------------------------------------------------------------
	
	//-----------------------------------------------------------------------------
	//  Imported data proto-type
	//-----------------------------------------------------------------------------

	//-----------------------------------------------------------------------------
	//  Imported function proto-tpye
	//-----------------------------------------------------------------------------
	
	//-----------------------------------------------------------------------------
	//  Codes
	//-----------------------------------------------------------------------------


